 Import necessary libraries

In [3]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

Load Dataset and Save Dataset

In [5]:
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# Concatenate features and targets along columns (axis=1)
First_Dataset_New = pd.concat([X, y], axis=1)

# Save dataset to Excel file
First_Dataset_New.to_excel("First_Dataset_New.xlsx", index=False)

Check data set

In [17]:
# Define column headings
heading =['age', 'workclass', 'fnlwgt', 'education', 'education-num','marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']

# Read the Excel file into a DataFrame
df = pd.read_excel(r"D:\DESKTOP\CW ML\First_Dataset_New.xlsx", header=None, names=heading, na_values="?")

# Print the shape of the Data
print("Shape of the Data:", df.shape)
df.head()

Shape of the Data: (48843, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

Check Data Types

In [20]:
# Setting all the categorical columns to type category
for col in set(df.columns) - set(df.describe().columns):
    df[col] = df[col].astype('category')

# Print columns and their data types
print("Columns and their types:")
print(df.info())

Columns and their types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48843 non-null  object
 1   workclass       46044 non-null  object
 2   fnlwgt          48843 non-null  object
 3   education       48843 non-null  object
 4   education-num   48843 non-null  object
 5   marital-status  48843 non-null  object
 6   occupation      46034 non-null  object
 7   relationship    48843 non-null  object
 8   race            48843 non-null  object
 9   sex             48843 non-null  object
 10  capital-gain    48843 non-null  object
 11  capital-loss    48843 non-null  object
 12  hours-per-week  48843 non-null  object
 13  native-country  47986 non-null  object
 14  income          48843 non-null  object
dtypes: object(15)
memory usage: 5.6+ MB
None

Check Missing Data

In [21]:
df.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
income               0
dtype: int64